<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-title">
      Informacion de la planta
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name, 'Nombre de la planta' %>
          <%= f.text_field :name, class: 'form-control', required: :true %>
        </div>
      </div>
      <%= render 'sector_fields', f: s %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :address, 'Dirección' %>
          <%= f.text_field :address, class: 'form-control', required: :true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :number, 'Numero' %>
          <%= f.text_field :number, label: 'Numero', class: 'form-control', required: :true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :commune, 'Comuna' %>
          <%= f.text_field :commune, label: 'Comuna', class: 'form-control', required: :true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :city, 'Ciudad' %>
          <%= f.text_field :city, label: 'Ciudad', class: 'form-control', required: :true %>
        </div>
      </div>
    </div>
  </div>
</div>
