<div class="mt">
  <h4>
    <i class="fa fa-angle-right"></i>
    Historial de la Solicitud
  </h4>
  <section id="cd-timeline" class="cd-container black-text">
    <%= render "petitions/shared/timelinepetition"%>
    <%= render "studies/shared/timelinestudy" %>
    <%= render "calendars/shared/timelinecalendar" %>
    <%= render "analyses/shared/timelineanalisis" %>
    <%= render "budgets/shared/timelinebudget" %>
    <%= render "acceptances/shared/timelineacceptance" %>
  </section>
</div>
