
<div class="container">
  <p>Numero de registro <span class="label label-success"><%=  %></span> </p>
  <p>Promedio <span class="label label-info"><%= @suma %>%</span></p>

  <div class="row">
    <div class="col-lg-12">
      <div id="reportscharts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>



<script>
$(function () {

    Highcharts.chart('reportscharts', {
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Promedio diario de humedad'
        },
        xAxis:{
          categories:[<% @reporte.each do |r| %> '<%= r['_id']['date'].to_s %> SENSOR <%= r['_id']['sensor_id'].to_i %>',<% end %>]


        },
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}°C',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Humedad',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            x: 10,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [

          {
            name:'Humedad %',
            type: 'line',
            data:[  <% @reporte.each do |r| %> <%=r['avg_lectura'].to_i %>,<% end %>
            ]

        },

      ]
    });

});
</script>
