<%= form_for(plant) do |f| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>
      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nombre de la planta', class:'active' %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, 'Dirección', class:'active' %>
    <%= f.text_field :address, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :number, 'Numero', class:'active' %>
    <%= f.text_field :number, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :commune, 'Comuna', class:'active' %>
    <%= f.text_field :commune, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city, 'Ciudad', class:'active' %>
    <%= f.text_field :city, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Guardar",class:"btn btn-success pull-right"%>
  </div>
<% end %>
