<div class="mt">
  <div class="showback">

    <h4>
      <i class="fa fa-angle-right"></i>
      Compañias
    </h4>
    <div class="row">
      <div class="pull-right">
        <%= link_to companies_path, class: 'btn btn-info' do %>
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          Regresar
        <% end %>
        <%= link_to edit_company_path(@company), class: 'btn btn-warning' do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Editar
        <% end %>
        <%= link_to new_account_path(company_id: @company.id), class: 'btn btn-warning' do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Nuevo Usuario
        <% end %>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <p>
          <strong>Nombre de la empresa:</strong>
          <%= @company.name %>
        </p>
        <p>
          <strong>Rubro:</strong>
          <%= @company.commercial_business %>
        </p>

        <p>
          <strong>Rut:</strong>
          <%= @company.rut %>
        </p>
      </div>
      <div class="row">
        <h5>
          <i class="fa fa fa-user"></i>
          Usuarios
        </h5>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Fecha Creacion</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Ultima Sesion</th>
              <th>-</th>
            </tr>
          </thead>
          <tbody>
            <% @accounts.each do |a| %>
            <tr>
              <td><%= a.user.created_at.strftime('%d-%m-%Y %H:%m') %></td>
              <td><%= a.user.email %></td>
              <td><%= a.user.name ? a.user.name : 'Sin Nombre' %></td>
              <td><%= a.user.last_sign_in_at ? a.user.last_sign_in_at.strftime('%d-%m-%Y %H:%m') : 'Sin Registro  ' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
