<%= form_for(sensor) do |f| %>
  <% if sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :id_sensor, 'ID sensor', class:'active' %>
    <%= f.text_field :id_sensor %>
  </div>

  <div class="input-field">
    <%= f.label :type_sensor, 'Tipo', class:'active' %>
    <%= f.text_field :type_sensor %>
  </div>
  <div class="input-field">
    <%= f.submit 'Guardar', class:'btn' %>
  </div>
<% end %>
